<ion-header>

  <ion-navbar>

    <ion-title>Groceries</ion-title>
    <ion-buttons end>
      <button ion-button (click)="openSettings()">
        <ion-icon ios="ios-create-outline" md="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item *ngFor="let item of groceriesList"
            swipe-custom
            (swipeleft)="addToBucket(item)"
            (swiperight)="removeFromBucket(item)">
    <ion-icon ios="ios-cart-outline" md="ios-cart-outline" item-start *ngIf="!item.isInBucket"></ion-icon>

    {{item.name}}

    <ion-icon ios="ios-home-outline" md="ios-home-outline" item-end *ngIf="item.isInBucket"></ion-icon>
  </ion-item>
</ion-content>

